---
layout: page
title: Archives
---

{% include lang.html %}

{% comment %}
  Archives: posts published more than 3 years ago.
  Once a post crosses that threshold it graduates here automatically.
{% endcomment %}

{% assign three_years_ago = 'now' | date: '%s' | minus: 94608000 %}

{% assign archived_posts = "" | split: "" %}
{% for post in site.posts %}
  {% assign post_ts = post.date | date: '%s' | plus: 0 %}
  {% if post_ts < three_years_ago %}
    {% assign archived_posts = archived_posts | push: post %}
  {% endif %}
{% endfor %}

<div id="archives" class="pl-xl-3">
  {% if archived_posts.size == 0 %}
    <p class="text-muted mt-4">
      <i class="fas fa-campground fa-fw me-2"></i>
      No posts have crossed the 3-year mark yet. Posts graduate here automatically once they do.
    </p>
  {% else %}
    {% assign last_year = "" %}
    {% for post in archived_posts %}
      {% assign cur_year = post.date | date: '%Y' %}

      {% if cur_year != last_year %}
        {% unless forloop.first %}</ul>{% endunless %}
        <time class="year lead d-block">{{ cur_year }}</time>
        {{ '<ul class="list-unstyled">' }}
        {% assign last_year = cur_year %}
      {% endif %}

      <li>
        {% assign ts = post.date | date: '%s' %}
        <span class="date day"  data-ts="{{ ts }}" data-df="DD">{{ post.date | date: '%d' }}</span>
        <span class="date month small text-muted ms-1" data-ts="{{ ts }}" data-df="/ MM">
          {{ post.date | date: '/ %m' }}
        </span>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>

      {% if forloop.last %}</ul>{% endif %}
    {% endfor %}
  {% endif %}
</div>
